html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.bar {
    height: 100%;
    float: left;
}

.left {
    width: 300px;
    background: #45a1f8;
}

.middle {
    width: calc(100% - 600px);
    background: #81d453;
}

.right {
    width: 300px;
    background: #db3b26;
}

h2 {
    text-align: center;
}
