<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>圣杯布局</title>
    <link rel="stylesheet" href="./css/layout-05.css" type="text/css" />
</head>

<body>
    <div class="header">
        <h2>header</h2>
    </div>
    <div class="main">
        <div class="bar left">
            <h2>left</h2>
        </div>
        <div class="bar middle">
            <h2>middle</h2>
        </div>
        <div class="bar right">
            <h2>right</h2>
        </div>
    </div>
    <div class="footer">
        <h2>footer</h2>
    </div>
</body>

</html>
