html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.header,
.footer {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #de69a5;
    margin: 0 auto;
}

.header {
    top: 0px;
    left: 0px;
}

.footer {
    bottom: 0px;
    left: 0px;
}

.main{
    height: 100%;
    margin: 100px auto;
}

.bar {
    height: 100%;
    float: left;
}

.left {
    width: 200px;
    background: #45a1f8;
}

.middle {
    width: calc(100% - 400px);
    background: #81d453;
}

.right {
    width: 200px;
    background: #db3b26;
}

h2 {
    text-align: center;
}
