<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>通用卡片</title>
    <link rel="stylesheet" type="text/css" href="./css/component-03.css" />
</head>

<body>
    <div class="bg-ellipse-full-wrapper">
        <div class="bg-ellipse-wrapper">
            <div class="bg-ellipse bg-ellipse-1" style="transform: translate3d(0px, 98.448px, 0px);"></div>
            <div class="bg-ellipse bg-ellipse-2" style="transform: translate3d(0px, 147.672px, 0px);"></div>
            <div class="bg-ellipse bg-ellipse-3" style="transform: translate3d(0px, 49.224px, 0px);"></div>
            <div class="bg-ellipse bg-ellipse-4" style="transform: translate3d(0px, 98.448px, 0px);"></div>
            <div class="bg-ellipse bg-ellipse-5" style="transform: translate3d(0px, 147.672px, 0px);"></div>
            <div class="bg-ellipse bg-ellipse-6" style="transform: translate3d(0px, 49.224px, 0px);"></div>
            <div class="bg-ellipse bg-ellipse-7" style="transform: translate3d(0px, 98.448px, 0px);"></div>
            <div class="bg-ellipse bg-ellipse-8" style="transform: translate3d(0px, 147.672px, 0px);"></div>
        </div>
    </div>
    <div class="history">
        <p class="title">大记事</p>
        <div class="history-main">
            <div class="slick-slider carousel1">
                <div class="card-list">
                    <div class="card">
                        <img src="./img/bytedance-card.png" />
                        <div class="words">
                            <p class="time">2012年3月</p>
                            <p class="desc">字节跳动公司注册成立</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slick-slider carousel2">
                <div class="card-icon-list">
                    <div class="hengxian"></div>
                    <div class="card-icon">
                        <div class="current-icon">
                            <img src="./img/002.png" alt="字节跳动">
                        </div>
                        <div class="icon">
                            <img src="./img/001.png" alt="">
                        </div>
                        <div class="icon">
                            <img src="./img/003.png" alt="">
                        </div>
                        <div class="icon">
                            <img src="./img/004.png" alt="">
                        </div>
                        <div class="icon">
                            <img src="./img/005.png" alt="">
                        </div>
                        <div class="icon">
                            <img src="./img/006.png" alt="">
                        </div>
                        <div class="icon">
                            <img src="./img/007.png" alt="">
                        </div>
                        <div class="icon">
                            <img src="./img/008.png" alt="">
                        </div>
                        <div class="icon">
                            <img src="./img/009.png" alt="">
                        </div>
                        <div class="icon">
                            <img src="./img/010.png" alt="">
                        </div>
                        <div class="icon">
                            <img src="./img/011.png" alt="">
                        </div>
                        <div class="icon">
                            <img src="./img/012.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
