<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>个人介绍卡片</title>
    <link rel="stylesheet" type="text/css" href="./css/component-05.css" />
</head>

<body>
    <div class="employee-story">
        <div class="story-layout-title">
            <div class="story-layout-title-bg">BYTEDANCER STORY</div>
            <div class="story-layout-title-name">员工故事</div>
        </div>
        <div class="employeeCard-list">
            <a class="employeeCard" href="#">
                <div class="employeeCard-avatar">
                    <img src="./img/story_shenchi_avatar.png" alt="">
                </div>
                <div class="currency employeeCard-title">从大学老师到算法工程师</div>
                <div class="currency employeeCard-name">
                    "沈池"
                    <span>|</span>
                    "AI - Lab 图像算法"
                </div>
                <div class="currency employeeCard-description">
                    怀着一颗想出来闯荡的心，从学术界跳到了工业界；公司有着丰富的应用场景和海量数据资源，技术落地非常有保证。
                </div>
                <div class="currency employeeCard-more">
                    <svg class="arrow-more_svg__icon" viewBox="0 0 1450 1024" width="32" height="32">
                        <path fill="currentColor" d="M1390.933 546.133L972.8 964.267c-17.067 17.066-51.2 17.066-68.267 0L896 955.733c-17.067-17.066-17.067-51.2 0-68.266l324.267-332.8H76.8c-25.6 0-42.667-17.067-42.667-42.667v-8.533c0-25.6 17.067-42.667 42.667-42.667h1160.533L896 119.467c-17.067-17.067-17.067-51.2 0-68.267l8.533-8.533c17.067-17.067 51.2-17.067 68.267 0L1390.933 460.8c8.534 8.533 8.534 17.067 17.067 25.6v8.533c0 34.134-8.533 42.667-17.067 51.2z"></path>
                    </svg>
                </div>
            </a>
            <a class="employeeCard" href="#">
                <div class="employeeCard-avatar">
                    <img src="./img/story_gill_avatar.png" alt="">
                </div>
                <div class="currency employeeCard-title">在多元兼容的环境里持续成长  </div>
                <div class="currency employeeCard-name">
                    "Gill"
                    <span>|</span>
                    "国际化产品经理"
                </div>
                <div class="currency employeeCard-description">
                    不同文化背景下的沟通是一种挑战，公司鼓励多元兼容，提倡集思广益，让我看到了广大可能性和成长空间。
                </div>
                <div class="currency employeeCard-more">
                    <svg class="arrow-more_svg__icon" viewBox="0 0 1450 1024" width="32" height="32">
                        <path fill="currentColor" d="M1390.933 546.133L972.8 964.267c-17.067 17.066-51.2 17.066-68.267 0L896 955.733c-17.067-17.066-17.067-51.2 0-68.266l324.267-332.8H76.8c-25.6 0-42.667-17.067-42.667-42.667v-8.533c0-25.6 17.067-42.667 42.667-42.667h1160.533L896 119.467c-17.067-17.067-17.067-51.2 0-68.267l8.533-8.533c17.067-17.067 51.2-17.067 68.267 0L1390.933 460.8c8.534 8.533 8.534 17.067 17.067 25.6v8.533c0 34.134-8.533 42.667-17.067 51.2z"></path>
                    </svg>
                </div>
            </a>
            <a class="employeeCard" href="#">
                <div class="employeeCard-avatar">
                    <img src="./img/story_zuoruze_avatar.png" alt="">
                </div>
                <div class="currency employeeCard-title">在这里，看见更大的世界</div>
                <div class="currency employeeCard-name">
                    "左儒哲"
                    <span>|</span>
                    "飞书 - 客户端"
                </div>
                <div class="currency employeeCard-description">
                    比起其他公司，字节跳动可能更浪漫，或者说，有更大的梦想。这里不设边界，只要连接人与信息的事情，我们都会尝试…
                </div>
                <div class="currency employeeCard-more">
                    <svg class="arrow-more_svg__icon" viewBox="0 0 1450 1024" width="32" height="32">
                        <path fill="currentColor" d="M1390.933 546.133L972.8 964.267c-17.067 17.066-51.2 17.066-68.267 0L896 955.733c-17.067-17.066-17.067-51.2 0-68.266l324.267-332.8H76.8c-25.6 0-42.667-17.067-42.667-42.667v-8.533c0-25.6 17.067-42.667 42.667-42.667h1160.533L896 119.467c-17.067-17.067-17.067-51.2 0-68.267l8.533-8.533c17.067-17.067 51.2-17.067 68.267 0L1390.933 460.8c8.534 8.533 8.534 17.067 17.067 25.6v8.533c0 34.134-8.533 42.667-17.067 51.2z"></path>
                    </svg>
                </div>
            </a>
        </div>
    </div>
</body>

</html>
