<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>两栏图文</title>
    <link rel="stylesheet" type="text/css" href="./css/component-04.css" />
</head>

<body>
    <div class="main news-wrapper">
        <div class="title">新闻动态</div>
        <div class="top-wrapper">
            <img class="cover" src="https://sf6-ttcdn-tos.pstatp.com/img/bytedance-cn/1669f05c56b1455c4e570b7b4bf96a03~1920x1920.jpeg" alt="未来三年不考虑盈利，陈林说字节跳动做教育最大优势是战略决心" />
            <div class="title">未来三年不考虑盈利，陈林说字节跳动做教育最大优势是战略决心</div>
            <div class="desc">2020年7月16日，字节跳动高级副总裁、教育业务负责人陈林在一场演讲上，首次完整阐释了字节跳动教育业务的理念、使命、优势和规划。</div>
        </div>
        <div class="centent-wrapper">
            <div class="items-wrapper">
                <div class="item-wrapper">
                    <div class="cover" style="background-image: url(&quot;./img/item-wrapper-01.jpeg&quot;);"></div>
                    <div class="words">
                        <div class="title">第三届字节跳动夏令营开启全球报名 中外顶级科学家亲自授课</div>
                        <div class="time">2020年7月9日</div>
                        <div class="desc">7月9日，第三届字节跳动夏令营正式面向全球高校学生开放报名。</div>
                    </div>
                </div>
                <div class="item-wrapper">
                    <div class="cover" style="background-image: url(&quot;./img/item-wrapper-02.jpeg&quot;);"></div>
                    <div class="words">
                        <div class="title">字节跳动推出企业技术服务平台“火山引擎 ” </div>
                        <div class="time">2020年6月22日</div>
                        <div class="desc">6月22日，字节跳动企业技术服务平台“火山引擎”官网上线。</div>
                    </div>
                </div>
                <div class="item-wrapper">
                    <div class="cover" style="background-image: url(&quot;./img/item-wrapper-03.jpeg&quot;);"></div>
                    <div class="words">
                        <div class="title">抖音推出青少年守护官功能    邀请家长共建优质内容池</div>
                        <div class="time">2020年5月28日</div>
                        <div class="desc">抖音专注青少年健康成长的“向日葵计划”全新升级，将上线青少年守护官功能，邀请家长对青少年模式下新增视频进行投票推荐，联合家长从内容筛选等方面守护未成年人的数字未来。</div>
                    </div>
                </div>
                <div class="item-wrapper">
                    <div class="cover" style="background-image: url(&quot;./img/item-wrapper-04.jpeg&quot;);"></div>
                    <div class="words">
                        <div class="title">头条小说品牌升级为“番茄小说”，所有小说免费阅读</div>
                        <div class="time">2020年4月21日</div>
                        <div class="desc">4 月 21 日，世界读书日到来之际，今日头条小说频道宣布更新品牌为“番茄小说”。该品牌与今日头条 2019 年推出的独立小说 App 名称一致。统一后的新品牌Slogan为：免费好书，尽在番茄。</div>
                    </div>
                </div>
                <div class="item-wrapper">
                    <div class="cover" style="background-image: url(&quot;./img/item-wrapper-01.jpeg&quot;);"></div>
                    <div class="words">
                        <div class="title">字节跳动医务救助基金俩月资助2819人，援外抗疫医疗队纳入保障范围</div>
                        <div class="time">2020年3月31日</div>
                        <div class="desc">3月25日，运行2个月的中国红十字基金会字节跳动医务工作者人道救助基金公布最新进展：基金已经为58批共2819名医务工作者提供资助。同时宣布，基金将援外医务人员纳入保障范围，若不幸感染，将提供每人至少10万元风险保障。</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="showmore">
            查看更多
        </div>
    </div>
</body>

</html>
